<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title <% title  %>  >/title>
<link rel="stylesheet" href="styles.css">

    </head>
       <body>
        <header>
            <h1> Our Thrillest Rides</h1>
        </header>
        <main> 
            <p> We will make your spirit soar through our top and coolest rides within the theme park!</p>
            <section> class = "ride-section</section>
            <article class ="ride">
                <h2> The Dragon Coaster</h2>
               <p> and hold on something before you ride something swift and deadly though sharp turns and the many dip-drops near the end, what a twist!p> Behold and hold on something before you ride something swift and deadly though sharp turns and the many dip-drops near the end, what a twist!</p>

            </article>
            <h2> Nimble Rapido</h2>
            <p>Get Vapoured immensely on our wild stream of water adventure through spiralling rapids of water and waterfalls, someone always gets drenched!</p>
        </article>
        <article class="ride">
            <h2>Funhouse 2.0</h2>
            <p> Enchanting experience is held in here when you bring your whole family (or friends), filled with illusions of mirrors, trickery and most of all, the surprises are well hidden under the sleeve!<p></p> </p>

            </article>
            <nav>
                <nav class="navbar">
                    <a href="/"></a>Home </a>
                    <a href="/about">About</a>
                    <a href="/rides">Rides</a>
                    <a href="/contact">Contact</a>
                </nav>
                <main>
                    
                </main>


        </section>
        </main>
        <footer> 
         <p> Come, and why not enjoy your time and relax here today?</p>
        </footer>
       </body> 
        

        
    </head>
    
</html>